<%- include('partials/header') -%>

<div class="home-container">
    <div class="row justify-content-around mt-5 home-context">
        <div class="text-center">
            <img src="/imgs/home-logo.png" alt="Plant Mamas logo" class="home-logo">
            <div class="actions">
                <a href="/login" class="col-3 btn btn-primary"> Login</a>
                <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
            </div>
        </div>
    </div>
</div>
    

<%- include('partials/footer') -%>