<%- include('partials/header') -%>

<main class="home-container">
    <div class="row justify-content-around mt-5 home-BG">
        <div class="text-center">
            <h1 class="">Plant Mamas🪴</h1>
            <span>The One Stop Shop for your Plants' Needs</span>
        </div>
        <div class="actions">
            <a href="/login" class="col-3 btn btn-primary"> Login</a>
            <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
        </div>
    </div>
</main>
    

<%- include('partials/footer') -%>