<%- include('partials/min-header') -%>
<div class="profile-container">
  <div class="row mt-5">
      <div class="col-6">
        <div>
          <h1 class="welcome-message">Welcome <%= user.userName %>!</h1>
        </div>
          <div class="mt-5">
            <h2>Add Plant</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="name" class="form-label">Official Plant Name</label>
                  <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="mb-3">
                <label for="nickname" class="form-label">Nickname<bold style="color:#D22B2B">*</bold></label>
                <input class="form-control" id="nickname" name="nickname" required>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image<bold style="color:#D22B2B">*</bold></label>
                <input type="file" class="form-control" id="imageUpload" name="file" required>
              </div>
              <div class="mb-3">
                <label for="datePurchased" class="form-label">Date Purchased</label>
                <input type="date" class="form-control" id="datePurchased" name="datePurchased">
              </div>
              <div class="mb-3">
                <label for="lightConditions" class="form-label">Light Conditions<bold style="color:#D22B2B">*</bold></label>
                <!-- <input type="text" class="form-control" id="lightConditions" name="lightConditions"> -->
                <select name="lightConditions" id="lightConditions" type="text" class="form-control" required>
                  <option value="Lots">Lots of Light</option>
                  <option value="Medium">Medium Light</option>
                  <option value="Low">Low Light</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="temperature" class="form-label">Temperature</label>
                <input type="text" class="form-control" id="temperature" name="temperature">
              </div>
              <div class="mb-3">
                <label for="water" class="form-label">Watering Frequency<bold style="color:#D22B2B">*</bold></label>
                <!-- <input type="text" class="form-control" id="water" name="water"> -->
                <select name="water" id="water" type="text" class="form-control" required>
                  <option value="Daily">Daily</option>
                  <option value="Weekly">Weekly</option>
                  <option value="Biweekly">Biweekly</option>
                  <option value="Monthly">Monthly</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="dateWatered" class="form-label">Date Last Watered<bold style="color:#D22B2B">*</bold></label>
                <input type="date" class="form-control" id="dateWatered" name="dateWatered" required>
              </div>
              <div class="mb-3">
                <label for="dateFertilized" class="form-label">Date Last Fertilized</label>
                <input type="date" class="form-control" id="dateFertilized" name="dateFertilized" required>
              </div>
              <button type="submit" class="btn btn-primary submit" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <div class="row justify-content-center mt-5 fixed">
          <a class="btn btn-primary submit" href="/feed">Return to Dashboard</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>