<%- include('partials/min-header') -%>
<div class="profile-container" id="success">
  <div class="">
    <h2>Success! Plant Added.</h2>
    <div class="column justify-content-center mt-5">
      <a class="btn btn-primary submit" href="/feed">Return to Dashboard</a>
      <a class="btn btn-primary submit" href="/profile">Add New Plant</a>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
