<%- include('partials/min-header') -%>
<div class="profile-container">
  <div class="row mt-5">
      <div class="col-6">
        <div class="mt-5">
            <h2>Success! Plant Added.</h2>
      <div class="col-6">
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary submit" href="/feed">Return to Dashboard</a>
        </div>  
        <div class="row justify-content-center mt-5">
            <a class="btn btn-primary submit" href="/profile">Add Plant</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>