@import "variables";
@import "mixins";

.dashboard-container{
    @include login
}
.table-background-color{
    background-color: white;
}
.dashboard-button{
    padding: 0.375rem 1.5rem;
}
.modal-body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width:180px;
        height:180px;
    }
    h4{
        font-size:18px;
        text-decoration: underline;
        display: inline;
    }
}