@import "variables";
@import "mixins";

.dashboard-container{
    @include login
}
.table-background-color{
    background-color: white;
}
.dashboard-button{
    padding: 0.375rem 1.5rem;
}
.modal-header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.modal-body{
    padding:20px 75px;
    img{
        width:180px;
        height:180px;
    }
    h4{
        font-size:18px;
        display:inline-block;
    }
    span{
        margin-left:10px;
    }
}
.plant-image{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}
.plant-info{
}