@import "variables";
@import "mixins";

.dashboard-container{
    @include login
}
.table-background-color{
    background-color: white;
}
.dashboard-button{
    padding: 0.375rem 1.5rem;
}

.modal-header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
}
.plant-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        font-size: 30px;
    }
}
.modal-body{
    padding:20px 60px;

    img{
        width:160px;
        height:150px;
        border-radius: 30em;
    }
    h4{
        font-size:18px;
        display:inline-block;
    }
    span{
        margin-left:10px;
    }
}

.plant-image{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px 0;
}

// .plant-info{
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
// }

.modal-footer{
    background-color: #588157;
}