@import "variables";

.home-container{
    margin-top:60px;
    min-height:100vh;
    background-image: url("../imgs/home-bg-med.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.home-context{
    height:800px
}
.text-center{
    margin-top:120px
}
.home-logo{
    border-radius: 20em;
    width:450px;
    transition: all 0.9s ease;
    -webkit-transition: all 0.9s ease;
    &:hover{
        transform: rotate(30deg);
    }
}
.actions{
    margin:35px 500px;
    display:flex;
    justify-content: space-evenly;
    a{
        border-color: $tertiaryColor;
        background-color: $tertiaryColor;
        &:hover{
            background-color: $secondaryColor;
            border-color: $secondaryColor;
        }
    }
}

@media screen and (max-width:460px){
    .home-container{
        margin-top:10px;
        height:auto;
        background-size:cover;
        background-image: url("../imgs/home-bg-sm.jpg");
    }
    .home-context{
        height:600px
    }
    .text-center{
        margin-top:120px
    }
    .home-logo{
        border-radius: 20em;
        width:350px;
        transition: all 0.9s ease;
        -webkit-transition: all 0.9s ease;
        &:hover{
            transform: rotate(30deg);
        }
    }
    .actions{
        width:100%;
        margin:35px 0;
        display:flex;
        justify-content: space-evenly;
    }
    .navLinks{
        justify-content: center;
        .mainNav{
            justify-content: center;
          }
        ul{
            justify-content:center;
          }
        li{
            width:80px;
            a{
                font-size: 16px;
            }
        }
    }
}