@import "variables";

.home-container{
    margin-top:60px;
    min-height:100vh;
    background-image: url("../imgs/background-plants.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.home-context{
    height:800px
}
.text-center{
    margin-top:120px
}
.home-logo{
    border-radius: 20em;
    width:450px;
    &:hover{
        transform: rotate(30deg);
        -webkit-transition: all 0.9s ease;
        transition: all 0.9s ease;
    }
}
.actions{
    margin:35px 500px;
    display:flex;
    justify-content: space-evenly;
    a{
        border-color: $tertiaryColor;
        background-color: $tertiaryColor;
        &:hover{
            background-color: $secondaryColor;
            border-color: $secondaryColor;
        }
    }
}