//Variables
$primaryColor: #213816;
$secondaryColor: #5b4630;
$tertiaryColor: #927a60;

$cursiveFont: 'Mr De Haviland', cursive;
$defaultFont: 'Playfair Display', serif;
$secondaryFont: 'Quicksand', sans-serif;